@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}




::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #3B5F36;
}

::-webkit-scrollbar-track {
    background-color: #9CCE94;
}

body {
    background-color: #9CCE94;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Cabeçalho */
header {
    width: 100%;
    position: fixed;
    background-color: #3b5f3687;
    backdrop-filter: blur(10px);
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;

    & nav {
        display: flex;
        align-items: center;
        gap: 4rem;
    }
}

.logo img {
    height: 60px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 6rem;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.8s;
}

.menu li a:hover {
    color: #fff;
    /* Mudança de cor ao passar o mouse */
}

/* Menu fixo no canto superior direito */
.menu-2 {
    display: none;
    position: fixed;
    top: 5px;
    right: 20px;
}

/* Estilo do checkbox */
#checkbox {
    display: none;
    /* Esconde o checkbox */
}

/* Estilo do botão */
.toggle {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
    transition: 2s;
}

/* Estilo das barras do botão */
.bars {
    width: 100%;
    height: 4px;
    background-color: #9CCE94;
    border-radius: 4px;
}

#bar2 {
    transition-duration: 0.8s;
}

#bar1,
#bar3 {
    width: 70%;
}

/* Transformações do botão quando o checkbox está marcado */
#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
}

#checkbox:checked+.toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
}



/* Modo claro */
.light-mode {
    background-color: #9CCE94;
    color: black;
}

/* Modo escuro */
.dark-mode {
    background-color: #31502dda;
    color: white;

    & .projects-section h2 {
        color: white;
    }

    & .form-container h1 {
        color: #fff;
    }

    & header a,
    .text-content h1,
    .about-text {
        color: white;
    }

    & header a:hover {
        color: #161616;
    }

    & .footer a,
    i {
        color: #fff;
    }
}

/* Estilo do botão */
.theme-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s;
    margin-bottom: 20px;
}

/* Ajuste no ícone */
#theme-icon svg {
    width: 40px;
    height: 40px;
    fill: currentColor;
    transition: fill 0.3s;
}

/* Efeito de hover no botão */
.theme-button:hover {
    transform: scale(1.1);
}


.circle1 {
    max-width: 100%;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #5b8c5a9e;
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(2);
    }
}


/* Estilo do conteúdo do menu */
.menu-content {
    display: none;
    /* Inicialmente escondido */
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 30px;
    background-color: #3B5F36;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    transition: 2s;

}

/* Links do menu */
.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #b8b8b8;
    border-radius: 40px;
}

/* Mostrar o conteúdo do menu quando o checkbox está marcado */
#checkbox:checked~.menu-content {
    display: block;
    /* Mostra o menu */
}

main {
    padding: 8%;
}

/* Seção principal */
.main-content {
    height: 78vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20%;
}

/* Estilo do círculo */
.circle img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 3rem;
}

/* Texto principal */
.text-content {
    & h1 {
        font-family: "Inconsolata", monospace;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: 100;
        font-size: 2.5rem;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-decoration: 2px underline;
        text-underline-offset: 5px;
        margin-bottom: 10%;
    }

    & p {
        font-size: 1.6rem;
        color: #000;
        text-transform: uppercase;
        margin-top: 0.5rem;
        letter-spacing: 1px;
    }
}

/* Ícones sociais */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.2);
    /* Efeito ao passar o mouse */
}

/* Estrutura geral */
.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px auto;
    padding: 10px;
    max-width: 1300px;
    gap: 100px;
}

.skills,
.about-me {
    flex: 1;
}

.skills h2,
.about-me h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.skill-icons img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    transition: transform 0.3s;
}

.skill-icons img:hover {
    transform: scale(1.2);
}

.about-me {
    text-align: left;

    & h2:nth-last-child(2) {
        margin-top: 80px;
    }
}

.about-me h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;

}

.about-me p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    margin-left: 20%;
}

.projects-section {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;
}

.projects-section h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #000;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.project-item {
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 75%;
}

.project-item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.project-item img:hover {
    transform: scale(1.05);
}


.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.form-container h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    resize: none;
}

.form-group label {
    font-size: 20px;
    width: 35%;
    font-weight: bold;
    text-align: center;

}

.form-group input,
.form-group textarea,
.form-group select {
    width: 50%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 20px;
    margin-top: 5px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #5b8c5a;
}

.form-container button {
    width: 40%;
    padding: 10px;
    background-color: #5b8c5a;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 19px;
    transition: background-color 0.3s;
    margin-left: 31%;
}

.form-container button:hover {
    background-color: #497147;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo-container img {
    width: 300px;
    height: auto;
}

.services-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.service {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.services-section h1 {
    text-align: center;
    grid-column: 2;
}

.spacer {
    grid-column: 2;
}

.service:nth-child(2) {
    grid-column: 1;
}

.service:nth-child(3) {
    grid-column: 3;
}

.service:nth-child(4) {
    grid-column: 1;
}

.service:nth-child(5) {
    grid-column: 3;
}

.service:nth-child(7) {
    grid-column: 2;
}

.service h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-bottom: 10px;
}

.service p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #3b5f3687;
    backdrop-filter: blur(10px);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #000;
}

.footer .social a {
    font-size: 25px;
    color: #090909;
    border: 2px solid #355734;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: #5b8c5a;
    color: black;
    box-shadow: 0 0 25px #000;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: #000;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li:hover a:hover {
    transform: scale(1.2)translateY(-5px);
    border-bottom: 3px solid #5b8c5a;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #000;
}
.list a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    transition: 1s;
}
.list a:hover{
    color: white;
    font-size: 20px;
}

/* Esconde os links no modo mobile */
#menu-links {
    display: none;
}

/* Estiliza o ícone de menu */
#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .text-content {
        margin-top: 20%;
        margin-left: 25%;
    }

    header {
        height: 10%;
    }

    .theme-button {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu-2 {
        display: block;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .text-content h1 {
        font-size: 2rem;
    }

    .text-content p {
        font-size: 1rem;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-me {
        text-align: center;
        margin-top: 20px;
    }

    .skill-icons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-icons img {
        width: 70px;
        height: 70px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .services-section {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .form-container h1 {
        font-size: 20px;
    }

    .form-container button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    section {
        display: flex;
        justify-content: center;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .text-content {
            margin-left: 10%;
        }

        & .text-content h1 {
            font-size: 2rem;
        }

        & .text-content p {
            font-size: 1rem;
        }
    }

    .circle img {
        align-items: center;
        margin-left: 10%;
        width: 200px;
        height: 200px;
    }

    .services-section h2 {
        font-size: 1.2rem;
    }

    .footer {
        height: 5%;
        width: 100%;
    }


}